:root{
    --color-primary: #BF2C38;
    --color-primario_link: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    /* max-width: 42rem; */
    min-width: 32rem;

}

/* -------- container header -------- */

.container-nav{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--color-primary);
    font-size: 2rem;
    color: white;
}

.container-nav img{
    width: 25%;
    margin: 2rem 0;
    
}

.container-nav li{
    list-style: none;
    margin: 2rem 0;
}

.title-header{
    margin: 5rem 0 10rem 0;
}

.title-header h1{
    font-size: 4rem;

}

.title-header p{
    margin-top: 3rem;
}

/* -------- container main -------- */

/* contaier-primary */

.container-primary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -3rem;
}

.card-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-container img{
    width: 80%;
    height: 20rem;
    align-self: center;
    border-radius: 2rem;
}

.card-container h2, .card-container p{
    width: 80%;
    margin:1rem auto;
    font-size: 2rem;
}

.card-container button{
    margin-left: 10%;
    width: 20%;
}