:root{
    --color-primary: #BF2C38;
    --color-primario_link: #FFFFFF;
    --color-secundary_background: rgb(224, 224, 224);
    --color-primario_footer: #16161C
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    /* max-width: 42rem; */
    min-width: 32rem;

}

/* -------- container header -------- */

.container-nav{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--color-primary);
    font-size: 2rem;
    color: white;
}

.container-nav img{
    width: 25%;
    margin: 2rem 0;

}

.container-nav li{
    list-style: none;
    margin: 2rem 0;
}

.title-header{
    margin: 5rem 0 10rem 0;
}

.title-header h1{
    font-size: 4rem;

}

.title-header p{
    margin-top: 3rem;
}

/* -------- container main -------- */

/* contaier-primary */

.container-primary{
    display: flex;
    flex-direction: column;
    margin-top: -8rem;
}

.card-container{
    width: 85%;
    margin-top: 5rem;
    align-self: center;
    font-size: 1.5rem;
}

.card-container img{
    width: 100%;
    height: 22.5rem;
    border-radius: 2rem;
}

.card-container h2, .card-container p{
    margin: 1rem 0 2rem;
}

.card-container button{
    width: 10rem;
    height: 3rem;
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    color: var(--color-primario_link);
}

.card-container #title{
    margin-top: 8rem;
    text-align: center;
    font-size: 4rem;
}

.card-container #button-center{
    width:  20rem;
    margin: 0 auto;
    display: block;
}


/* contenedor secundario */


.container-secundary{
    margin: 5rem auto 0 ;
    padding: 5rem 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secundary_background);
}

.container-secundary h1{
    text-align: center;
    font-size: 4rem;
}

.container-links{
    width: 70%;
    
    min-width: 20rem;
    max-width: 40rem;
    margin-top: 15rem;
    text-align: center;
    border-radius: 10%;
    background-color: var(--color-primario_link);
    box-shadow:  0.3rem 0.5rem 1rem gray;
}

.img-start{
    position: relative;
    width: 40%;
    padding: 1rem ;
    transform: translate(72%, -50% );
    border-radius: 100%;
    background-color: var(--color-primary);
}
.img-start img{
    width: 70%;
    
}

.description{
    margin-top:-2rem;
    padding:  0 0.5rem 0;
    font-size: 1.75rem;
}

.img-finish{
    width: 80%;
    margin: 0 auto;
    transform:translateY(101%);
    border-radius: 0 0 1rem 1rem ;
    background-color: var(--color-primario_link);
    box-shadow:  0.3rem 0.5rem 0.5rem gray;
}

.img-finish img{
    width: 15%;
    
}

.footer-main{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--color-primario_footer);
    color: white;
    font-size: 1.5rem;
}

.footer-list{
    margin-top: 3rem;
    list-style: none;
}

span{
    display: block;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    
}

.footer-list li{
    list-style: none;
    margin-top: 0.5rem;
}
